<div class="row mar-top mar-bottom">
    <div class="col-sm-12">
        <div class="row ">
            <div class="col-sm-12 col-md-4">
                <div class="from-group">
                    <label class="control-label text-bold" for="RutPaciente">Mandante</label>
                    <div class="input-group mar-btm">
                        <span class="text-left">Dr. Carlos Antonio Pradenas Pérez</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="from-group">
                    <label class="control-label text-bold" for="RutPaciente">Nro. Orden</label>
                    <div class="input-group mar-btm">
                        <span class="text-left">231423424</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="from-group">
                    <label class="control-label text-bold" for="RutPaciente">Paciente</label>
                    <div class="input-group mar-btm">
                        <span class="text-left">Monica Rincon</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="from-group">
                    <label class="control-label text-bold" for="RutPaciente">Fecha Inicio Solicitud</label>
                    <div class="input-group mar-btm">
                        <span class="text-left">30-11-2222</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="from-group">
                    <label class="control-label text-bold" for="RutPaciente">Fecha Inicio Actividad</label>
                    <div class="input-group mar-btm">
                        <span class="text-left">30-11-2222</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />