@{
    ViewData["Title"] = "Ejecución de Trabajo";
}

<form id="frm-generico">
    <div class="row">
        <div class="col-lg-12">
            <div id="demo-panel-network" class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <ol class="breadcrumb">
                            <li></li>
                            <li class="active">@ViewData["Title"]</li>
                        </ol>
                    </h3>
                </div>
                <div class="panel-body">
                    <partial name="_EncaezadoSolicitudPartial" />
                    @if(ViewBag.trabajoIniciado == "1")
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 from-group">
                                        <label class="control-label text-bold">Resumen Final</label>
                                        <div class="mar-btm">
                                            <textarea name="ResumenFinalizado" rows="5" class="form-control"></textarea>
                                            <small>Máximo 500 caracteres.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-sm-12 pad-top">
                            <div class="text-right no-print">
                                <input type="hidden" name="numeroTicket" value="@ViewBag.cotizacion.NumeroTicket" />
                                @if(ViewBag.trabajoIniciado == "1")
                                {   
                                    <button class="btn btn-primary" id="btn-confirmar" disabled><i class="demo-pli-printer icon-lg"> </i> Terminar Actividad</button>
                                }
                                else
                                {
                                    <button class="btn btn-mint" id="btn-control-tiempo"><i class="demo-pli-printer icon-lg"> </i> Iniciar Acticidad</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<!-- Modal -->
<div class="modal fade" id="modal-imagen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Imagen Orden de Trabajo</h4>
            </div>
            <div class="modal-body">
               <img id="img-previsualiza" src="" alt="Previsualizacion Imagen" style="display: none; max-width: 95%;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section styles{
    <link href="~/Assets/plugins/chosen/chosen.min.css" rel="stylesheet">
}
@section Scripts{
    <script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/js/FlujoExterno/ejecucion.min.js" type="text/javascript"></script>
}
